@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Fixes the white bar on mobile */
}

/* Hard reset for the body background to prevent transparency issues */
body {
  @apply bg-[#FDFBF7] text-slate-900; /* Default Light Mode */
}

/* Explicit Dark Mode Override */
.dark body {
  @apply bg-[#0B1120] text-slate-100;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { @apply bg-slate-300 dark:bg-slate-700 rounded-full; }

/* Marquee Animation */
.animate-scroll { animation: scroll 35s linear infinite; }
.pause-on-hover:hover .animate-scroll { animation-play-state: paused; }
